/* --- Сброс и Базовые стили --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    background-image: radial-gradient(circle at 50% 50%, #1e1e24 0%, #000000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffee00;
    perspective: 1000px;
    overflow: hidden;
}

.card-toggle-input {
    display: none;
}

.card-toggle-input:checked + .card {
    transform: rotateY(180deg);
}

.scene {
    width: 320px;
    height: 480px;
}

.card {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
    cursor: pointer;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.card__face--front {
    background: linear-gradient(135deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
}

.profile-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.name {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.role {
    font-size: 1rem;
    color: #aaaaaa;
    font-weight: 300;
    margin-bottom: 20px;
}

.hint {
    font-size: 0.8rem;
    color: #555;
    margin-top: auto;
}

.card__face--back {
    transform: rotateY(180deg);
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
}

.back-title {
    font-size: 1.4rem;
    margin-bottom: 25px;
    color: #ffee00;
    border-bottom: 2px solid #3c393b;
    padding-bottom: 10px;
}

.contacts {
    list-style: none;
    width: 100%;
}

.contacts li {
    margin-bottom: 15px;
    font-size: 1rem;
}

.contacts a {
    color: #ffee00;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}




.icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fffb00;
    border-radius: 50%;
    box-shadow: 0 0 5px #0eba7e;
}